body{
	background-color:#FFFFFF;
	background-image:url(imagens/background.jpg);
	/*background-align: center center;/**/
	color:#000000;
	padding:0px 0px 0px 0px; 
	margin:0px 0px 0px 0px;/**/
	border: 0;
	font-size: 18px;
	font-family: 'Arial';
	/*font: inherit;
	vertical-align: baseline;/**/
	text-align: center;
	/*width:320px; height:480px;/**/
	overflow: hidden;
}
h2 {
	/*display: block;
	position: absolute;
	top:80%;
	left:45%;/**/
	font-size: 1.8em;
	font-family: 'Verdana';
}
button{
	width:200px;
	background-color:rgba(255,255,255,0.5);
}
canvas{ 
	background:rgba(238,238,238,0.90);
	padding:0px 0px 0px 0px; 
	margin:0px 0px 0px 0px;/**/
	/*width:100%; 
	height:100%;/**/
}
#firefoxos {
	display: block;
	/*position: absolute;/**/
	margin:0 auto;
	width:100px;
	/*width:148px;
	/*height:153px;/**/
	top:47%;
	left:47%;
	animation: firefoxos-spin 1.0s infinite linear;
}
@keyframes firefoxos-spin {
	from { transform: rotate(0deg) scale(1) skew(0deg) translate(0px); }
	to { transform: rotate(360deg) scale(1) skew(0deg) translate(0px); }
}
